.sidebar {
  /* border-right: 1px solid #e6e7ec; */
  width: 5rem;
  height: 100vh;
  background-color: #111322;
}

.sidebar-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
