.container-fluid {
  padding: 0;
}

.box {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.navigation {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e7ec;
  color: "white";
}
